body{
    margin: 0;
    background-color: #ffffff;
}

header{
    background-color: #72675b;
    font-family: 'Lato','Courier New', Courier, monospace;
    color: white;
    margin: 0;
    padding: 20px;
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1{ 
    color: white;
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
}

#photo-joseph{
    margin-left: 5%;
    width: 100px;
    padding: 0px;
    border-radius: 50%;
}

#icons{ 
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 50px;
    align-items: center;
}

#icons img{
    margin: 20px;
    width: 50px;
    filter: invert(100%);
}

body main #introduction{
    margin-top: 100px;
    margin-left: 200px;
    margin-bottom: 500px;
}
body main #introduction h3{
    font-size: 50px;
    font-weight: 100;
    color: #5e5e5e;
}
body main #introduction h2{
    font-size: 100px;
    font-weight: 1000;
    box-sizing: border-box;
    margin-right: 100px;
    color: rgb(29, 29, 29);

}
body main #introduction span{
    color: #d99950;
}

body main #about-me{
    background-color: #5e5e5e;
    height: 200px;
}

body main #certification{
    background-color: #FFE0B5;
    height:1200px;
    
}

body main #certification #cert-header{
    padding: 50px;
    color: #4c3650;
    text-align: center;
}

.container{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.container section h2{
    text-align: center;
}
.container img{
    width: 500px;
}

footer{
    background-color: rgb(93, 213, 243);
    margin: 0;
    padding: 100px;
}
